/**  外层div容器 **/
.content-wrapper {
  margin:20px;
}

/**  表单  **/
.form-item-search {
  margin-bottom: 0px;
}
.form-item-width {
  width:300px;
}
.float-right {
  float: right;
}
.form-item-button {
  margin-right: 20px;
}

/**  table **/
.table-wrapper {
  margin-top: 20px;
}

/**  分页栏 **/
.page-wrapper {
  margin-top: 15px;
}
